<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input name</title>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            let input = document.querySelector("#input")
            let btn = document.querySelector("#btn")

            btn.addEventListener("click", () => {
                fetch(`trackName?name=${input.value}`)
                    .then(r => {
                        // redirect path
                        window.location.replace("./myName");
                    })
            })
        })
    </script>
</head>
<body>
<input type="text" id="input">
<button id="btn">submit</button>
</body>
</html>