body {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem 2rem
}
button:hover {
    background-color: rgb(110, 51, 165);
}

/* header */
.dropdown-item {
    display: block;
    padding: 1rem;
}

.dropdown-item:hover {
    background-color: lightgray;
}

.dropdown-content {
    background-color: white;
    display: none;
    position: absolute;
    border: 2px solid lightgray;
    border-radius: 0.25rem;
    box-shadow: 5px 5px 10px lightgray;
    z-index: 10;
}

.dropdown-userinfo {
    background-color: white;
    /* display: none; */
    position: absolute;
    width: 200px;
    right: 0;
    padding: 1rem;
    border: 2px solid lightgray;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px lightgray;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.row-container {
    position: sticky;
    display: flex;
    justify-content: space-between;
}

.row-items, .col-items {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}
.row-item, .col-item{
    display: inline-block;
    list-style: none;
    padding: 0 0.5rem;
}

.col-items {
    flex-direction: column;
}

.item-logo {
    width: 32px;
    height: 32px;
}
.item-logo-64 {
    width: 64px;
    height: 64px;
}

.img-rot90 {
    transition: 0.2s;
}
.img-rot90:hover {
    transform: rotate(90deg);
    transition: 0.2s;
}


/* main */
main {
    background-color: ivory;
}
.page {
    display: flex;
    flex-wrap: wrap;
    align-content: middle;
    gap: 1rem
}
.page-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.card {
    background-color: white;
    padding: 3rem;
    width: 200px;
    border-radius: 1rem;
}
.card-2w {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

section {
    text-align: center;
}

section > h1 {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
}

.section-1{
    background-color: lightsteelblue;
}

.section-2{
    background-color: cornflowerblue;
}
